table {
  width: 100%;
}

.mat-form-field {
  width: 300px;
  font-family: 'Kanit', sans-serif;
}

.tb-header {
  font-family: 'Kanit', sans-serif;
  font-size: 15px;
  font-weight: 300;
  background: #0093ca;
  color: white;
}

.filter-header {
  text-align: right;
  margin-right: 10px;
}

label {
  font-size: 20px;
  font-weight: 200;
  font-family: 'Kanit', sans-serif;
  margin-left: 20px;
}

.single-body {
  box-shadow: 0px 4px 7px 0px #afafaf;
  color: #777777;
  padding-bottom: 70px;
  padding-top: 50px;
}

.selectedList {
  margin-left: 15px;
  margin-top: 20px;
  height: 67vh;
  border-left: 4px solid #0093ca;
  padding-left: 20px;
  font-weight: 300;
  font-size: 15px;
  position: sticky;
  /* overflow: auto; */
  top: 80px;
}

.itemList {
  height: 57vh;
  overflow: auto;
}

.noItem{
  font-size: 18px;
  font-weight: 200;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  border: 2px dashed rgb(190, 190, 190);
  border-radius: 5px;
  margin-top: 70px;
  padding-top: 40px; 
  padding-bottom: 40px;
}

/*
    BUTTON
    */

    .primary-button-custom {
      height: 33px;
      width: 80px;
      border-radius: 7px;
      font-family: 'Kanit', sans-serif;
    }
    
    .info-button-custom {
      height: 40px;
      border-radius: 7px;
      font-family: 'Kanit', sans-serif;
    }
    
    .warning-button-custom {
      height: 40px;
      border-radius: 7px;
      font-family: 'Kanit', sans-serif;
    }
    
    .success-button-custom {
      height: 50px;
      width: 150px;
      border-radius: 7px;
      font-family: 'Kanit', sans-serif;
    }
    
    .danger-button-custom {
      height: 33px;
      width: 80px;
      border-radius: 7px;
      font-family: 'Kanit', sans-serif;
    }
    .disabled-button-custom {
      height: 50px;
      width: 150px;
      border-radius: 7px;
      font-family: 'Kanit', sans-serif;
    }
    
    button:focus {
      outline: 0;
    }