.his-body {
  box-shadow: 0px 4px 7px 0px #afafaf;
  /* font-family: 'Kanit', sans-serif; */
  color: #5c5c5c;
  padding-bottom: 70px;
  padding-top: 50px;
  min-height: 700px;
}

.result-box {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 55px;
}

label {
  font-size: 22px;
  font-weight: 300;
  font-family: 'Kanit', sans-serif;
  margin-left: 20px;
}

.bg-head-card {
  /* font-family: 'Kanit', sans-serif;

    font-weight: 300; */
  /* background: linear-gradient(141deg, #0093ca 0%, #61b2ca 51%, #0093ca 75%); */
  background: linear-gradient(to right, #2b5876, #4e4376);
  color: rgb(251, 255, 202);
}

.card-body-in {
  box-shadow: 0px 4px 7px 0px #afafaf;
}

.border-card {
  border-color: #a5a5a5;
}

.grade-reult {
  background-image: linear-gradient(to right, #f9588c, #a9397c);
  color: white;
  width: 60px;
  height: 60px;
  position: relative;
  border-radius: 7px;
  font-size: 40px;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.grade-reult p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.show-gpa {
  font-size: 50px;
  font-family: 'Kanit', sans-serif;
}