table {
    width: 100%;
}

.mat-form-field {
    width: 300px;
    font-family: 'Kanit', sans-serif;
}

.tb-header {
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    font-weight: 300;
    background: #0093ca;
    color: white;
}

.filter-header {
    text-align: right;
    margin-right: 10px;
}

label {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Kanit', sans-serif;
    margin-left: 20px;
}

.single-body {
    box-shadow: 0px 4px 7px 0px #afafaf;
    color: #777777;
    padding-bottom: 70px;
    padding-top: 50px;
}

.selectedList {
    margin-left: 15px;
    margin-top: 20px;
    height: 67vh;
    border-left: 4px solid #0093ca;
    padding-left: 20px;
    font-weight: 300;
    font-size: 15px;
    position: sticky;
    /* overflow: auto; */
    top: 80px;
}

.itemList {
    height: 57vh;
    overflow: auto;
}

.noItem {
    font-size: 18px;
    font-weight: 200;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    border: 2px dashed rgb(190, 190, 190);
    border-radius: 5px;
    margin-top: 70px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.bt-radius {
    border-radius: 15px;
    font-family: 'Kanit', sans-serif;
}

/*
      BUTTON
      */

.primary-button-custom {
    height: 33px;
    width: 80px;
    border-radius: 7px;
    font-family: 'Kanit', sans-serif;
}

.info-button-custom {
    height: 40px;
    border-radius: 7px;
    font-family: 'Kanit', sans-serif;
}

.warning-button-custom {
    height: 40px;
    border-radius: 7px;
    font-family: 'Kanit', sans-serif;
}

.success-button-custom {
    height: 50px;
    width: 150px;
    border-radius: 7px;
    font-family: 'Kanit', sans-serif;
}

.danger-button-custom {
    height: 33px;
    width: 80px;
    border-radius: 7px;
    font-family: 'Kanit', sans-serif;
}

.disabled-button-custom {
    height: 50px;
    width: 150px;
    border-radius: 7px;
    font-family: 'Kanit', sans-serif;
}

button:focus {
    outline: 0;
}

/* LOADING */

.semipolar-spinner,
.semipolar-spinner * {
    box-sizing: border-box;
}

.semipolar-spinner {
    height: 65px;
    width: 65px;
    position: relative;
}

.semipolar-spinner .ring {
    border-radius: 50%;
    position: absolute;
    border: calc(65px * 0.05) solid transparent;
    border-top-color: #ff1d5e;
    border-left-color: #ff1d5e;
    animation: semipolar-spinner-animation 2s infinite;
}

.semipolar-spinner .ring:nth-child(1) {
    height: calc(65px - 65px * 0.2 * 0);
    width: calc(65px - 65px * 0.2 * 0);
    top: calc(65px * 0.1 * 0);
    left: calc(65px * 0.1 * 0);
    animation-delay: calc(2000ms * 0.1 * 4);
    z-index: 5;
}

.semipolar-spinner .ring:nth-child(2) {
    height: calc(65px - 65px * 0.2 * 1);
    width: calc(65px - 65px * 0.2 * 1);
    top: calc(65px * 0.1 * 1);
    left: calc(65px * 0.1 * 1);
    animation-delay: calc(2000ms * 0.1 * 3);
    z-index: 4;
}

.semipolar-spinner .ring:nth-child(3) {
    height: calc(65px - 65px * 0.2 * 2);
    width: calc(65px - 65px * 0.2 * 2);
    top: calc(65px * 0.1 * 2);
    left: calc(65px * 0.1 * 2);
    animation-delay: calc(2000ms * 0.1 * 2);
    z-index: 3;
}

.semipolar-spinner .ring:nth-child(4) {
    height: calc(65px - 65px * 0.2 * 3);
    width: calc(65px - 65px * 0.2 * 3);
    top: calc(65px * 0.1 * 3);
    left: calc(65px * 0.1 * 3);
    animation-delay: calc(2000ms * 0.1 * 1);
    z-index: 2;
}

.semipolar-spinner .ring:nth-child(5) {
    height: calc(65px - 65px * 0.2 * 4);
    width: calc(65px - 65px * 0.2 * 4);
    top: calc(65px * 0.1 * 4);
    left: calc(65px * 0.1 * 4);
    animation-delay: calc(2000ms * 0.1 * 0);
    z-index: 1;
}

@keyframes semipolar-spinner-animation {
    50% {
        transform: rotate(360deg) scale(0.7);
    }
}